@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* Reset & Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Toastify__toast-container {
  z-index: 99999 !important;
  position: fixed;
}

.global-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999;
}