# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
application.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
.pnpm/
jspm_packages/
bower_components/
web_modules/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity

# Build output
build/
build/Release/
dist/
out/

# Testing & coverage
coverage/
*.lcov
.nyc_output
.vscode-test/
.docusaurus/

# Reports
report.*.json

# System files
.DS_Store
Thumbs.db

# Lock/config files (optional — include only if you don’t want to track them)
package-lock.json
pnpm-lock.yaml
.lock-wscript

# Environment files
.env
.env.*
!.env.example

# Editor/IDE settings
.vscode/
.idea/

# Cache & temp
.cache/
.parcel-cache/
.temp/
.grunt/
.pnp.*
.eslintcache
.stylelintcache
.node_repl_history

# Project-specific ignored folders/files
node_helpers/
../node_helpers/
env/
../env/
*.conf

# Framework-specific
.next/
.nuxt/
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache